.home {
  display: flex;
  flex-direction: column;
}

.home_search_bar_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.home_form_input {
  margin-bottom: 0px;
}

/* //TODO: add to common css */

.icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
/* //TODO: add to common css */
.icon:hover {
  color: #20b2aa;
}
