.create_new_app_form {
  display: flex;
  flex-direction: column;
}
/* :TODO: add to common css  */

.create_new_app_title {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 15px;
}
.button_container {
  text-align: center;
}
.create_new_app_form_input {
  width: 100%;
}
