.button_default_styles {
  background: red;
  width: 150px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  color: white;
  font-weight: 800;
  /* margin-bottom: 15px; */
}

.disabled {
  cursor: not-allowed;
}

.green {
  background: green;
}
