.application {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  text-align: left;
  background: white;
}
.display_row {
  display: flex;
  flex-direction: row;
  margin: 0;
  align-items: baseline;
}
.container_title {
  margin-left: 15px;
}
.application_title {
  margin: 0;
}
.icon {
  height: 20px;
  width: 20px;
  font-size: 20px;
  margin-top: 5px;
  cursor: pointer;
}
.icon:hover {
  color: lightseagreen;
}
.application_app_info_container {
  display: flex;
  justify-content: space-between;
  text-align: left;
  border-bottom: 2px solid lightseagreen;
}
.bold {
  font-weight: 800;
}
.bug_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  overflow-y: scroll;
  margin-top: 20px;
}
